@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

:root{
    --title-font: "PT Serif", serif; 
    --main-font: "Poppins", sans-serif;
}
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .content {
    width: 1440px;
    margin: 0 auto;
    height: 1489px;
 }
 
 body {
    width: 100%;
    background-color: #FAFAFA;
}

header{
    margin-top: 110px;
    display: flex;
   justify-content: center;
}

#title{
    font-family: var(--title-font);
    width: 278px;
    height: 47px;
    font-weight: 700;
    font-size: 30px;
    line-height: 47.7px;
    letter-spacing: -4.5%;
}

#right-side-header{
    margin-left: 215px;
}

#header-subtitle{
    font-family: var(--main-font);
    width: 117px;
    height: 27px;
    font-weight: 600;
    font-size: 18px;

}

#header-description{
    font-family: var(--main-font);
    width: 439px;
    height: 87px;
    font-size: 18px;
    font-weight: 400;

}


#crew-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    margin-top: 125px;
}

#top-photos-wrapper{
   width: 932px; 
   display: flex;
   justify-content: space-between;
   height: 510px;
}


#bottom-photos-wrapper{
    width: 932px; 
   display: flex;
   justify-content: space-between; 
   height: 482px;
}

#crew-container > figure{
    width: 264px;
    height: 383px;
}

.crew-member-photo{
    width: 238px;
    height: 341px;
}

#crew-member-name{
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    width: 128px;
    height: 27px;
}

#rotated-caption{
    transform: rotate(90deg);
    transform-origin: right top;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 400;
    width: 102px;
    height: 16px;
    line-height: 15.9px;
    color: #000; 
    margin-left: 160px;
    margin-top: -270px; 
    font-family: 'PT Serif', serif;
    text-transform: uppercase;

}

#rotated-caption-bottom{
    transform: rotate(90deg);
    transform-origin: right top;
    white-space: nowrap;
    font-family: 'PT Serif', serif;
    font-size: 12px;
    font-weight: 400;
    width: 102px;
    height: 16px;
    line-height: 15.9px;
    color: #000; 
    margin-left: 160px;
    margin-top: -270px; 
    text-transform: uppercase;
}

.down-photo{
    margin-top: 99px;
}

/* styling the footer */

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 41px;
    
}

footer {
    color: #A9A9A9;


}


#footer-link:after{
    color: #FAFAFA;

}

#footer-link:active{
    color: #FAFAFA;
}

#footer-link:visited{
    text-decoration: none; 
    color: #A9A9A9;
}

/* mobile version */

@media (max-width: 375px) {
    .content{
        width: 375px;

    }
    header{
        display: flex;
        flex-direction: column;
    }
    #title-container{
        width: 278px;

    }
    #title{
        width: 278px;
        height: 47px;
        font-size: 36px;
        font-weight: 700;
        line-height: 47.7px;
        letter-spacing: -4.5%;
    }

    #right-side-header{
        margin-top: 156px;{

    }
    #header-subtitle{

        text-transform: uppercase;
        width: 117px;
        height: 27px;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #000;
    }
    #header-description{
        width: 333px;
        height: 87px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #000;
    }




}